<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>magarin's portfolio</title>
    <meta
      name="description"
      content="portfolio for world-renowned software engineer magarin"
    />
    <meta name="author" content="magarin" />
    <link rel="icon" type="image/png" href="../../resources/img/favicon.png" />
    <script
      src="https://kit.fontawesome.com/7c5e24690b.js"
      crossorigin="anonymous"
    ></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="../../resources/js/main.js" defer></script>    
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../resources/css/style.css" />
    <link rel="stylesheet" href="../../resources/css/cs.css" />
  </head>
  <body>
    <!--Navbar-->
    <nav id="navbar">
      <div class="navbar__logo">
        <i class="fab fa-diaspora"></i>
        <a href="#">Magarin</a>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__menu__item active" data-link="#home">Home</li>
        <li class="navbar__menu__item" data-link="#about">About</li>
        <li class="navbar__menu__item" data-link="#skills">Skills</li>
        <li class="navbar__menu__item">고객센터</li>
        <li class="navbar__menu__item" data-link="#testimonials">
          Testmonials
        </li>
        <li class="navbar__menu__item" data-link="#contack">Contack</li>
      </ul>
      <!--Toggle button-->
      <button class="navbar_toggle-btn">
        <i class="fas fa-bars"></i>
      </button>
    </nav>
    <!-- Home -->
    <section id="home">
      <div class="home__container">
        <h1 class="home__title">고객센터</h1>
        <button class="home__contack">Contact me!</button>
      </div>
    </section>
    <!-- CustomerService -->
    <section id="about customer__service" class="section section__container">
    <div class="input-group mb-3" >
  		<span class="input-group-text" id="basic-addon1">FAQ 통합검색</span>
  		<input type="text" class="form-control" placeholder="궁금하신 내용을 검색하세요." aria-label="Username" aria-describedby="basic-addon1">
  		<button type="button" class="btn btn-light"><i class="fas fa-search"></i></button>
  		<button type="button" class="btn btn-secondary">1:1 문의하기</button>	
	</div>
	<div class="faq-table row m-3">
		<div class="faq-table-customer col-md-6">
			<h2>고객 FAQ TOP5</h2>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
					</tr>
					<tr>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="faq-table-stylist col-md-6">
			<h2>스타일리스트 FAQ TOP5</h2>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
					</tr>
					<tr>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
						<td>1.<br>회원가입은<br>어떻게 하나요?</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

    </section>
    <!-- Contack -->
    <section id="contack" class="section">
      <h1 class="contack__title">Let's talk</h1>
      <h2 class="contack__email">mario213@nate.com</h2>
      <div class="contack__links">
        <a href="https://github.com/magarin213/PORTFOLIO" target="_blank">
          <i class="fab fa-diaspora"></i>
        </a>
        <a href="#" target="_blank">
          <i class="fas fa-code"></i>
        </a>
      </div>
      <p class="contack__right">2020 Magarin Coding</p>
    </section>

    <!-- Arrow up button -->
    <button class="arrow-up">
      <i class="fas fa-arrow-up"></i>
    </button>
  </body>
</html>