/* 기문 */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    cursor: default;
  }
  
  a {
    text-decoration: none;
    color: var(--color-white);
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    list-style: none;
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0px;
  }

.container{
    display: flex;
    justify-content: center;
}


table.type1 {
    border: 2px solid #ff9999;
    border-left: none;
    border-right: none;
}

table.type1 th,
table.type1 td{
    height: 40px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 13px;
}

table.type1 th:first-child{
    border-left: none;
}

table.type1 tr:first-child th,
table.type1 tr:first-child td {
    border-top: none;
}

table.type1 th {
    padding: 10px 10px 10px 45px;
    text-align: left;
    font-weight: normal;
    color: #222;
}
table.type1 th span {
    display: none;
    overflow: hidden;
    width: 8px;
    height: 7px;
}

table.type1 td{
    padding: 10px 55px;
    color: #777;
}

input[type=tel],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=number]{
    padding: 0 20px;
    width: 100%;
    height: 38px;
    font-size: 13px;
    color: #7777;
    border: 1px solid #ccc;
    background: #fff;
    transition: all 0.5s;
    vertical-align: middle;
    line-height: 38px;
    box-sizing: border-box;
}

select{
    height:38px;
    padding: 0 20px;
    font-size: 13px;
    color: #777;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 38px;
    box-sizing: border-box;
    vertical-align: -1px;
}

.btn_type3{
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    min-width: 102px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 2px solid #aaa;
    box-sizing: border-box;
    vertical-align: middle;
}

table.type1 td > div {
    padding: 10px 0 0;
}

table.type1 td > div:first-child{
    padding: 0;
}

table.type1 td .btn_type3{
    margin-left: 5px;
}

/* 버튼 */

.btn_center{
    text-align: center;
    padding: 65px 0 0;
}

.btn_type1{
    display: inline-block;
    width: 120px;
    height: 45px;
    background: #ff9999;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 13px;
}

.btn_type2{
    display: inline-block;
    width: 120px;
    height: 45px;
    background: #fff;
    text-align: center;
    line-height: 45px;
    color: #ff9999;
    font-size: 13px;
    border: 1px solid #ff9999;
    box-sizing: border-box;
    vertical-align: -1px;
}

#ra1_1,
#ra1_2{
vertical-align: -2px;
}

input[type="radio"] + label{
    font-size: 14px;
    color: #222;
    line-height: 27px;
    padding: 0 15px 0 0;
}
input[type="radio"] + label::before{
    content: "";
    display: inline-block;
    margin: 0 6px 0 0;
    width: 7px;
    height: 12px;
}

input[type="radio"]:checked + label::before{
    background-position: -66px -60px;
}