
.btn_type1{
    display: inline-block;
    width: 120px;
    height: 45px;
    margin-bottom: 10px;
    background: #ff9999;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 13px;
}

.btn_type2{
    display: inline-block;
    width: 120px;
    height: 45px;
    background: #fff;
    text-align: center;
    line-height: 45px;
    color: #ff9999;
    font-size: 13px;
    border: 1px solid #ff9999;
    box-sizing: border-box;
    vertical-align: -1px;
}

