<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>magarin's portfolio</title>
    <meta
      name="description"
      content="portfolio for world-renowned software engineer magarin"
    />
    <meta name="author" content="magarin" />
    <link rel="icon" type="image/png" href="../../../resources/img/favicon.png" />
    <script
      src="https://kit.fontawesome.com/7c5e24690b.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../resources/css/style.css" />
    <script src="./../../resources/js/main.js" defer></script>
  </head>
  <body>
    <!--Navbar-->
    <nav id="navbar">
      <div class="navbar__logo">
        <i class="fab fa-diaspora"></i>
        <a href="#">Magarin</a>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__menu__item active" data-link="#home">Home</li>
        <li class="navbar__menu__item" data-link="#about">About</li>
        <li class="navbar__menu__item" data-link="#skills">Skills</li>
        <li class="navbar__menu__item" data-link="#work">My Work</li>
        <li class="navbar__menu__item" data-link="#testimonials">
          Testmonials
        </li>
        <li class="navbar__menu__item" data-link="#contack">Contack</li>
      </ul>
      <!--Toggle button-->
      <button class="navbar_toggle-btn">
        <i class="fas fa-bars"></i>
      </button>
    </nav>
    <!-- Home -->
    <section id="home">
      <div class="home__container">
        <img
          src="../../../resources/img/KakaoTalk_.png"
          alt="magarin portfolio"
          class="home__avatar"
        />
        <h1 class="home__title">Hello, <br />I'm Dream coder</h1>
        <h2 class="home__description">디자인 할 수 있는 프론트 엔드 Magarin</h2>
        <button class="home__contack">Contack me!</button>
      </div>
    </section>
    <!-- About -->
    <section id="about" class="section section__container">
      <h1>About me</h1>
      <p>
        30살에 개발자에 관심이 생겨서 처음 접하게 된 것은 생활코딩에 HTML강의를
        보고서 프론트 엔드 직업에 큰 관심을 가지게 되었습니다.
      </p>
      <div class="about__majors">
        <div class="major">
          <div class="major__icon">
            <i class="fab fa-html5"></i>
          </div>
          <h2 class="major__title">Front-End</h2>
          <p class="major__description">
            HTML, CSS, Javascript, Typescript,
            <br />React, Vue, Web APIs
          </p>
        </div>
        <div class="major">
          <div class="major__icon">
            <i class="fab fa-css3"></i>
          </div>
          <h2 class="major__title">Mobile</h2>
          <div class="major__description">Android, IOS</div>
        </div>
        <div class="major">
          <div class="major__icon">
            <i class="fab fa-js"></i>
          </div>
          <h2 class="major__title">Back-end</h2>
          <div class="major__description">
            Java, JavaScript, go, NodeJs,
            <br />Rest API, GraphGL
          </div>
        </div>
      </div>
      <div class="about__jobs">
        <div class="job">
          <img src="../../../resources/img/jobs/logo_new_2.png" alt="sinhwa" class="logo" />
          <div class="job__description">
            <p class="job__name">
              나는 알고 있습니다. 오늘, 당신이 지나보낸 하루는 결코 무의미하지
              않았다는 것을
            </p>
            <p class="job__period">
              반짝반짝 빛나던 우리의 밤을, 꿈을, 사랑을 이야기하다
            </p>
          </div>
        </div>
        <div class="job">
          <img src="../../../resources/img/jobs/logo_new_2.png" alt="sinhwa" class="logo" />
          <div class="job__description">
            <p class="job__name">
              나는 알고 있습니다. 오늘, 당신이 지나보낸 하루는 결코 무의미하지
              않았다는 것을
            </p>
            <p class="job__period">
              반짝반짝 빛나던 우리의 밤을, 꿈을, 사랑을 이야기하다
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Skill -->
    <section id="skills" class="section">
      <div class="section__container">
        <h1>skills</h1>
        <h2>Skills & Attributes</h2>
        <p>나는 프론트 엔드 개발자가 될 수 있다. 노력자하자.</p>
        <div class="skillset">
          <div class="skillset__left">
            <h3 class="skillset__title">Skills</h3>
            <div class="skill">
              <div class="skill_description">
                <span>HTML</span>
                <span>99%</span>
              </div>
              <div class="skill__bar">
                <div class="skill_value" style="width: 99%"></div>
              </div>
              <div class="skill_description">
                <span>CSS</span>
                <span>56%</span>
              </div>
              <div class="skill__bar">
                <div class="skill_value" style="width: 56%"></div>
              </div>
              <div class="skill_description">
                <span>JavaScript</span>
                <span>10%</span>
              </div>
              <div class="skill__bar">
                <div class="skill_value" style="width: 10%"></div>
              </div>
              <div class="skill_description">
                <span>React</span>
                <span>1%</span>
              </div>
              <div class="skill__bar">
                <div class="skill_value" style="width: 1%"></div>
              </div>
            </div>
          </div>
          <div class="skillset__right">
            <div class="tools">
              <h3 class="skillset__title">Tools</h3>
              <ul class="ultools__list">
                <li><span>Visual Studio Code</span></li>
                <li><span>Intellis</span></li>
                <li><span>Android Studio Code</span></li>
                <li><span>IOS develoment tools</span></li>
                <li><span>atom</span></li>
              </ul>
            </div>
            <div class="etc">
              <h3 class="skillset__title">ETC</h3>
              <ul class="etc__list">
                <li><span>Git</span></li>
                <li><span>Scrum Master</span></li>
                <li><span>Math</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Work -->
    <section id="work" class="section">
      <div class="section__container">
        <h1>My work</h1>
        <h3>Projects</h3>
        <div class="work__categories">
          <button class="category__btn selected" data-filter="*">
            All<span class="category__count">8</span>
          </button>
          <button class="category__btn" data-filter="front-End">
            Front-End<span class="category__count">3</span>
          </button>
          <button class="category__btn" data-filter="back-end">
            Back-End<span class="category__count">3</span>
          </button>
          <button class="category__btn" data-filter="mobile">
            Mobile<span class="category__count">2</span>
          </button>
        </div>
        <div class="work__projects">
          <a href="" class="project" target="blank" data-type="front-end">
            <img class="project__img" src="../../../resources/img/projets/1.png" alt="1" />
            <div class="project__description">
              <h3>예시1</h3>
              <span>예시 사이트</span>
            </div>
          </a>
          <a href="" class="project" target="blank" data-type="back-end">
            <img class="project__img" src="../../../resources/img/projets/2.png" alt="2" />
            <div class="project__description">
              <h3>예시2</h3>
              <span>예시 사이트2</span>
            </div>
          </a>
          <a href="" class="project" target="blank" data-type="back-end">
            <img class="project__img" src="../../../resources/img/projets/3.png" alt="4" />
            <div class="project__description">
              <h3>예시3</h3>
              <span>예시 사이트3</span>
            </div>
          </a>
          <a href="" class="project" target="blank" data-type="back-end">
            <img class="project__img" src="../../../resources/img/projets/3.png" alt="5" />
            <div class="project__description">
              <h3>예시3</h3>
              <span>예시 사이트3</span>
            </div>
          </a>
          <a href="" class="project" target="blank" data-type="front-End">
            <img class="project__img" src="../../../resources/img/projets/3.png" alt="6" />
            <div class="project__description">
              <h3>예시3</h3>
              <span>예시 사이트3</span>
            </div>
          </a>
          <a href="" class="project" target="blank" data-type="front-end">
            <img class="project__img" src="../../../resources/img/projets/3.png" alt="6" />
            <div class="project__description">
              <h3>예시3</h3>
              <span>예시 사이트3</span>
            </div>
          </a>
          <a href="" class="project" target="blank" data-type="mobile">
            <img class="project__img" src="../../../resources/img/projets/3.png" alt="6" />
            <div class="project__description">
              <h3>예시3</h3>
              <span>예시 사이트3</span>
            </div>
          </a>
          <a href="" class="project" target="blank" data-type="mobile">
            <img class="project__img" src="../../../resources/img/projets/3.png" alt="6" />
            <div class="project__description">
              <h3>예시3</h3>
              <span>예시 사이트3</span>
            </div>
          </a>
        </div>
      </div>
    </section>
    <!-- Testimonials -->
    <section id="testimonials" class="section">
      <div class="section__container">
        <h1>Testmonials</h1>
        <h3>See what they say about me</h3>
        <div class="testimonials">
          <div class="testimonial">
            <img
              src="../../../resources/img/testimonial/test1.png"
              alt="Hodu"
              class="testimonial__avata"
            />
            <div class="testimonial__speech-bubble">
              <p>
                나는 알고 있습니다. 오늘, 당신이 지나보낸 하루는 결코 무의미하지
                않았다는 것을 반짝반짝 빛나던 우리의 밤을, 꿈을, 사랑을
                이야기하다
              </p>
              <p class="name"><a href="">호두</a> / sinhwa</p>
            </div>
          </div>
          <div class="testimonial">
            <div class="testimonial__speech-bubble">
              <p>
                나는 알고 있습니다. 오늘, 당신이 지나보낸 하루는 결코 무의미하지
                않았다는 것을 반짝반짝 빛나던 우리의 밤을, 꿈을, 사랑을
                이야기하다
              </p>
              <p class="name"><a href="">호두</a> / in sinhwa</p>
            </div>
            <img
              src="../../../resources/img/testimonial/test2.png"
              alt="Hodu"
              class="testimonial__avata"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- Contack -->
    <section id="contack" class="section">
      <h1 class="contack__title">Let's talk</h1>
      <h2 class="contack__email">mario213@nate.com</h2>
      <div class="contack__links">
        <a href="https://github.com/magarin213/PORTFOLIO" target="_blank">
          <i class="fab fa-diaspora"></i>
        </a>
        <a href="#" target="_blank">
          <i class="fas fa-code"></i>
        </a>
      </div>
      <p class="contack__right">2020 Magarin Coding</p>
    </section>

    <!-- Arrow up button -->
    <button class="arrow-up">
      <i class="fas fa-arrow-up"></i>
    </button>
  </body>
</html>
